body,
td,
th {
  font-family: "Open Sans", sans-serif;
}
h2 {
  margin-top: 3ex;
}
/* Deep blues */
.color-primary-0 {
  color: #233bf5;
}
.color-primary-1 {
  color: #3314de;
}
.color-primary-2 {
  color: #7717fa;
}
.color-primary-3 {
  color: #1461de;
}
.color-primary-4 {
  color: #17a9fa;
}

.nd-pageheader {
  padding: 2rem 15px;
  margin-bottom: 1.5rem;
  color: white;
  text-align: center;
  background-color: #233bf5;
}

.nd-pageheader a,
.nd-pageheader a.likelink {
  color: #e4f1fe;
}

.nd-pagefooter {
  color: white;
  margin-top: 1.5rem;
  padding: 1rem;
  text-align: center;
  background-color: #233bf5;
}

.nd-pagefooter a {
  color: #e4f1fe;
}

.nd-pageheader .container {
  position: relative;
}

.nd-pageheader address {
  font-weight: 300;
}

.nd-pageheader p,
.nd-pageheader h1 {
  margin-bottom: 0.75rem;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.3;
}

.citation {
  margin-top: 15px;
  clear: both;
}
.citation:after {
  content: "";
  display: table;
  clear: both;
}
.citation img {
  float: left;
  margin: 0 10px 10px 0;
  width: 250px;
}
nobr.widenobr {
  white-space: normal;
}

img {
  width: 50%;
  /* height: auto; */
  /* margin: auto auto;
  display: block; */
}

p {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.center {
  text-align: center;
  margin: auto auto;
  display: block;
}

.paper-block {
  /* margin: 0 auto; */
  /* max-width: 800px; */
  padding: 1rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: 1;
  margin: 4rem;
  padding: 3rem;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 25%;
  margin: 0 auto;
  display: block;
  border: 3px solid #ccc;
}

/* .flex-child:first-child {
  margin-right: 20px;
} */
